@import "main";
@import "devices";

$thumbnail-size-small: 50px;
$thumbnail-size-big: 100px;

.asset {
  margin-bottom: 5px;

  .asset__title {
    max-width: 60vw;
  }

  .asset__thumbnail {
    max-width: 12vw;
  }

  .asset__header {
    color: black;
    text-decoration: none;
    background-color: $header;
    border: solid 1px $border;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 10px;

    .col {
      padding: 0px;
    }

  }
  .asset__details {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;

    background-color: $details;
    color: black;

    border: solid 1px $border;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;


    .asset__details__image {
      max-width: 500px;
      max-height: 500px;
      margin-bottom: 5px;
    }
  }
}
