$color1: rgba(19, 41, 61, 1);
$color2: rgba(0, 100, 148, 1);
$color3: rgba(36, 123, 160, 1);
$color4: rgba(27, 152, 224, 1);
$color5: rgba(232, 241, 242, 1);

// TODO refactor colours by site section?
$header: #669999;
$details: #407F7F;
$border: #0D4D4D;

$offer-colour-1: #7B85AD;
$offer-colour-2: #515D91;
$offer-colour-3: #303D74;
$offer-colour-4: #172457;
$offer-colour-5: #07113A;

$title: #0D4D4D;

$menu-background-color: #003333;
