$asset-colour-1: #669999;
$asset-colour-2: #0D4D4D;
$asset-colour-3: #407F7F;

$offer-colour-1: #7B85AD;
$offer-colour-2: #515D91;
$offer-colour-3: #303D74;
$offer-colour-4: #172457;
$offer-colour-5: #07113A;

$request-colour-1: #887BAF;
$request-colour-2: #625192;
$request-colour-3: #413075;
$request-colour-4: #271758;
$request-colour-5: #14073A;

$event-colour-1: #C5E89B;
$event-colour-2: #96C161;
$event-colour-3: #6C9B34;
$event-colour-4: #497413;
$event-colour-5: #2B4D00;

$menu-background-color: #003333;
