@import "devices";

#app {
  font-size: 35px;

  @media screen and (min-width: $break-large) {
    font-size: 15px;
  }
}

.main {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  h3, h4, h5 {
    font-size: 1.5em;
  }

}
