@import "main";

.navbar {
  background-color: $menu-background-color;

  .navbar-collapse {
    background-color: $menu-background-color;
  }

  .navbar__search-form {
    display: none;

    @media screen and (min-width: $break-large) {
      display: block;
    }
  }
  .navbar__search-form-mobile {
    .form-control {
      width: 100%;
    }

    @media screen and (min-width: $break-large) {
      display: none;
    }
  }


}
