@import "main";

.offer {
  margin-bottom: 5px;

  .offer__title {
    max-width: 60vw;
  }

  .offer__thumbnail {
    max-width: 12vw;
  }

  .offer__header {
    color: black;
    text-decoration: none;
    background-color: $header;
    border: solid 1px $border;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 10px;

    .offer__header__price {
      text-align: center;
    }

    .col {
      padding: 0px;
    }

  }
  .offer__details {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;

    background-color: $details;
    color: black;

    border: solid 1px $border;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    .offer__thumbnail {
      margin-right: 5px;
    }

    .offer__details__image {
      max-width: 40vw;
      margin-bottom: 5px;
    }
  }
}
