@import "main";

@import "asset";
@import "offer";
@import "nav";

body {
  padding-top: 10em;
  font-family: 'Lato', sans-serif;
}

.main {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;

  h1, h2, h3, h4, h5 {
    color: $title;
  }

  @media screen and (min-width: $break-large) {
    padding-top: 0px;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: -60px
  }

  .view-more {
    float: right;
  }
}
