@import "main";

@import "collapsible-card";
@import "asset";
@import "event";
@import "offer";
@import "request";
@import "nav";

body {
  padding-top: 5em;
  font-family: 'Lato', sans-serif;
}

.main {
  h3 {
    margin-top: 20px;
  }

  .filter {
    @media screen and (min-width: $break-medium) {
      max-width: 700px;
    }
    .col-lg-6:nth-of-type(2n) {
      @media screen and (min-width: $break-medium) {
        margin-left: -30px;
      }
    }

    .filter__button {
      width: 140px;
      margin-right: 16px;
    }
  }

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 2.5em;

  @media screen and (min-width: $break-large) {
    padding-left: 15%;
    padding-right: 15%;
  }

  .view-more {
    float: right;
  }
}
