body {
  padding-top: 5rem;
}

.asset {
  color: yellow;
  margin-bottom: 5px;
  font-size: 15px;

  .asset__user-avatar {
    width: 50px;
    height: 50px;
  }

  .asset__image {
    width: 50px;
    height: 50px;
  }

  .asset__header {
    color: #026756;
    text-decoration: none;
    background-color: #3DA594;
    border: solid 1px #b5b6bc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 10px;
  }
  .asset__details {
    background-color: #67C3B4;
    color: #026756;
  }
}
