@import "main";

.requests {
  h2, h3, a {
    color: $request-colour-5;
  }

  .collapsible-card {
    .collapsible-card__header {
      background-color: $request-colour-1;
      border-color: $request-colour-4;
    }

    .collapsible-card__details {
      background-color: $request-colour-2;
      border-color: $request-colour-4;
    }
  }
}
