@import "main";

.main {
  .filter__button.request.active {
    background-color: $request-colour-3;
  }

  .requests {
    h2, h3, .view-more {
      color: $request-colour-5;
    }

    .collapsible-card {
      .collapsible-card__header {
        background-color: $request-colour-1;
        border-color: $request-colour-4;
      }

      .collapsible-card__details {
        background-color: $request-colour-2;
        border-color: $request-colour-4;
      }
    }
  }
}
